*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid grey;
  height: 100px;
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li{
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.banner {
  background-color: #cd334d;
  display: flex;
  justify-content: center;
}

.nombre{
  display: flex;
  justify-content: center;
}